body{
    height:100%;
}

html, body {
    width: 100vw !important;
    height: 100vh !important;
    -webkit-overflow-scrolling: touch !important;
    overflow: hidden !important;
    position: fixed;
}

#welcome{
    margin-top: 28%;
    margin-left: 37%;
    font-size: 4em;
}

.Left{
    /* FALTA SCROLLBAR DE WEBKIT */
    height:91%;
    width:30% ;
    position: absolute;
    background-color: white;
    border-right: 2px solid lightgray;
    overflow:scroll;
}
.Right{
    height:91%;
    width:70% ;
    right: 0;
    position: absolute;
    background-color: white;
}

