@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    height:100%;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100vw !important;
    height: 100vh !important;
    -webkit-overflow-scrolling: touch !important;
    overflow: hidden !important;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}

#welcome{
    margin-top: 28%;
    margin-left: 37%;
    font-size: 4em;
}

.Left{
    /* FALTA SCROLLBAR DE WEBKIT */
    height:95%;
    width:29%;
    position: absolute;
    background-color: white;
    /* border-right: 2px solid lightgray; */
    overflow: none;
}
.Right{
    height:95%;
    width:71%;
    right: 0;
    position: absolute;
    background-color: white;
}

