body{
    height:100%;
    width:80%;
    right:0px;
}
table{
    
    display: inherit;

}
tbody{
    display: inherit;
}

.firstRow,.secondRow{
	font-weight: bold; 
}

.Modal {
    position: absolute;
    top: 35%;
    left: 30%;
    right: 30%;
    bottom: 35%;
    background-color: white;

  }

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);;
  }

