.msg{
    /*border-collapse: collapse;*/
    margin: 5px;
    padding: 10px;
    margin-top:0px;
    padding-top: 0px;
    border-bottom: 1px solid lightgray;
    /* background-color: #7F3033; */
}

p{
    margin: 0px;
    
}

.messageContent {
    display: block;
    white-space: nowrap; /* forces text to single line */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .messageContent{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
} */

.chatListComp {
    font-weight: normal;
}

.chatList-name {
    margin-top: 15px;
    font-weight: bold;
}

.chatList-date {
    margin-bottom: 15px;
}

@import url("https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css");
